<h1>Colección de {{listaDiscos.length}} discos</h1>

{{#each listaDiscos}}
<div class="disco">
    <p>Artista: {{this.artista}}</p>
    <p>Título: {{this.titulo}}</p>
    <p>Año: {{this.lanzamiento}}</p>
    <img class="img-tapa" src="img/{{this.tapa}}">
</div>
{{/each}}