
        <nav>
            <div class="container justify-content-center ">
                <div class="row no-gutters">
                    <div class="col-xs-2 p-2">
                        <div class="input-group">
                            <select class="custom-select" id="inputGroupSelect04" aria-label="Example select with button addon">
                                      <option selected>Genero</option>
                                      <option value="1">One</option>
                                      <option value="2">Two</option>
                                      <option value="3">Three</option>
                                    </select>
                        </div>
                    </div>
                    <div class="col-xs-2 p-2">
                        <div class="input-group">
                            <select class="custom-select" id="inputGroupSelect04" aria-label="Example select with button addon">
                                          <option selected>Fecha de Lanzamiento</option>
                                          <option value="1">One</option>
                                          <option value="2">Two</option>
                                          <option value="3">Three</option>
                                        </select>
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button">Filtrar</button>
                            </div>
                        </div>
                    </div>

                </div>

            </div>




        </nav>
    </div>



 
    {{listaPeliculas.length}}



    <div class="container">
        <main class="bg-dark">
            {{#each listaPeliculas}}
            <div class="row no-gutters">
                <div class="col-md">
                    <div class="card carta" style="width: 18rem;">
                        <img src="{{this.Poster}}" class="shadow-lg card-img-top" alt="Imagen de la peli">
                        <div class="card-body carta">
                            <p class="card-title">{{this.Title}}</p>
                            <p class="card-text">{{this.Plot}}</p>
                        </div>
                        <ul class="list-group list-group-flush carta">
                            <li class="list-group-item">{{this.Year}}</li>
                            <li class="list-group-item">{{this.Genre}}</li>
                            <li class="list-group-item">{{this.Released}}</li>
                        </ul>
                        <div class="card-body">
                            <a href="{{this.Website}}" class="card-link">Website</a>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </main>
    </div>

    